@include body{

    .section--plans{
        padding: 130px;
        background: var(--color-accent);
        @include max-lg{
            padding: 50px 25px;
        }
        .col{
            text-align: center;
        }
        .col--content{
            .col__wrap{
                max-width: 690px;
                margin: 0 auto 50px;
            }
        }
        .col--gallery{
            margin-bottom: 80px;
            @include max-md{
                margin-bottom: 40px;
            }
        }
    }

}